html, body {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Exo 2', Helvetica, sans-serif;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: black;
    padding: 20px 0;
}

nav ul li {
    list-style: none;
    font-size: 0.75em;
    padding: 0 10px;
}

nav ul li.hide {
    color: black;
}


nav ul li h1 {
    font-size: 1em;
    margin: 0;
    text-align: center;
    padding: 0 10px;
}

div.container {
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    text-align: center;
    font-size: 1.5em;
}

div.container p {
    margin: 0px;
    padding-top: 20px;
}

div#title-block {
    position: relative;
    top: 125px;
}

div#title-block h1 {
    margin: 0;
    font-style: italic;
}

div.container button {
    margin-top: 175px;
    background-color: #00A000;
    color: white;
    font-size: 0.5em;
    width: 100px;
    height: 50px;
    border: 1px solid white;
    border-radius: 5px;
}

table#countdown {
    font-size: 0.75em;
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 30px;
    background-color: white;
    color: black;
}

table#countdown td {
    padding: 5px;
    border: darkgrey solid 4px;
    width: 40px;
}

table#countdown td.black {
    background-color: black;
    color: white;
}

div#predictGrid {
    background-color: black;
}

div.driverItem {
    max-height: 200px;
    margin: 5px 5px;
    background-size: cover;
    background-position: 50% 50%;
}

.williams {
    background-image: url('img/williams/williams.jpg');
}

.mclaren {
    background-image: url('img/mclaren/mclaren.jpg');
}

.mercedes {
    background-image: url('img/mercedes/mercedes.jpg');
}

.ferrari {
    background-image: url('img/ferrari/ferrari.jpg');
}

.red_bull {
    background-image: url('img/red_bull/red_bull.jpg');
}

.toro_rosso {
    background-image: url('img/toro_rosso/toro_rosso.jpg');
}

.haas {
    background-image: url('img/haas/haas.jpg');
}

.force_india {
    background-image: url('img/force_india/force_india.jpg');
}

.renault {
    background-image: url('img/renault/renault.jpg');
}

.sauber {
    background-image: url('img/sauber/sauber.jpg');
}

.manor {
    background-image: url('img/manor/manor.jpg');
}

form#predictForm {
    margin: 0 auto 20px auto;
    width: 200px;
}

img.driverShot {
    width: 150px;
    height: 150px;
    padding-top: 25px;
    padding-left: 25px;
}

ul.driverStats {
    background-color: rgba(0,0,0,0.75);
    padding-left: 0;
    position: relative;
    top: -135px;
    margin-left: 190px;
}

ul.driverStats li {
    list-style: none;
    color: white;
    font-style: italic;
    font-weight: 900;
}

input#dc, input#st {
    height: 5px;
    width: 200px;
}

div#sliderOneContainer, div#sliderTwoContainer {
    width: 200px;
    text-align: center;
}

/*p#betfairOdds {*/
    /*position: relative;*/
    /*top: -180px;*/
    /*left: 335px;*/
/*}*/
